* {
	font-family: impact, Ubuntu; 
}

html {
    background-color: #ddd;
}

body {
	position: relative;
	min-width: 300px;
	max-width: 1200px;
	width: 90%;
	margin: auto;
	padding: 10px;
  }

  header {
	position: relative;
  }

  #navigation {
	margin: 0 ;
	padding: 0 ;
	list-style: none ;
	text-align: center ;
  }

#navigation li {
	display: inline ;
	margin-right: 1px ;
	color: #fff ;
	background: #c00 ;
  }

#navigation li a {
	padding: 4px 20px ;
	background: #c00 ;
	color: #fff ;
	border: 1px solid #600 ;
	line-height: 1em ;
	text-align: center ;
	text-decoration: none ;
  }

#navigation li a:hover, #navigation li a:focus, #navigation li a:active {
	background: rgb(167, 167, 167) ;
	text-decoration: underline ;
  }

footer{
	background: rgb(167, 167, 167) ;

	margin: 10px ;
	padding: 0 ;
	list-style: none ;
	text-align: center ;
}
.content{
margin: 10px;
}